<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/material.icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div id="app" class="container">
    <div class="row center-align"><h3>ETECSA</h3></div>
    <div class="row center-align">
        <span class="input-field">
            <input class=" waves-effect" v-on:keyup="searchDone = false" v-on:keyup.enter="searchPhone" v-model="phone"
                   type="text"/>
        </span>
        <a v-on:click="searchPhone" class="btn-floating btn-large red">
            <i class="material-icons">search</i>
        </a>
    </div>

    <div v-if="udata.phones.length > 0" v-for="aphone in udata.phones" class="card blue-grey darken-1">
        <div class="card-content white-text">
                <span class="card-title row">
                    <span class="col s9">Nombre: {{ aphone.name }}</span>
                    <span class="col s3">(+{{ aphone.province }}) {{ aphone.number }}</span>
                </span>
            <p>Dirección: {{ aphone.address }}</p>
        </div>
    </div>

    <div v-if="phone !== '' && searchDone && (udata.phones == undefined || udata.status != 'OK')  " class="card-panel pink">
        <span class="white-text">No he encontrado datos para ese número</span>
    </div>
</div>
</body>

<script src="/assets/js/jquery-1.11.2.min.js"></script>
<script src="/assets/js/vue.min.js"></script>
<script src="/assets/js/vue-resource.min.js"></script>
<script src="/assets/js/materialize.min.js"></script>
<script src="/assets/js/app.js"></script>

</html>