<html>

<head>
    <title></title>
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div id="app" class="container">
    <div class="row center-align"><h3>ETECSA</h3></div>
    <div class="row center-align">
        <input class="input-field waves-effect" v-on:keyup="searchDone = false" v-on:keyup.enter="searchPhone" v-model="phone" type="text"/>
        <button class="btn" v-on:click="searchPhone">buscar</button>
    </div>

    <div v-if="udata.status === 'OK'" class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">Nombre: {{ udata.name }}</span>
            <p>Dirección: {{ udata.address }}</p>
        </div>
    </div>
    <div v-else-if="phone !== '' && searchDone" class="card-panel pink">
        <span class="white-text">No he encontrado datos para ese número</span>
    </div>
</body>

<script src="/assets/js/jquery-1.11.2.min.js"></script>
<script src="/assets/js/vue.min.js"></script>
<script src="/assets/js/vue-resource.min.js"></script>
<script src="/assets/js/materialize.min.js"></script>
<script src="/assets/js/app.js"></script>

</html>